<mat-toolbar color="primary">
    <mat-toolbar-row class="headerLeft">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="titlePage">Operación</span>
        <mat-form-field>
            <mat-select [(value)]="selected">                
                <mat-option value="{{item.$key}}" *ngFor="let item of tiendaList; let i = index">{{item.destab}}</mat-option>                
            </mat-select>
        </mat-form-field>
    </mat-toolbar-row>
    <mat-toolbar-row class="headerRight">
        <div class="tags">
            <button mat-icon-button [matMenuTriggerFor]="menuCategoria">
                <mat-icon>view_module</mat-icon>
            </button>
            <span>Todos</span>
            <mat-menu #menuCategoria="matMenu">
                <div class="wrapTags">
                    <button mat-button class="tag" *ngFor="let item of categoriaList; let i = index">
                        <mat-icon>dialpad</mat-icon>
                        <span class="nameTag">{{item.destab}}</span>
                    </button>
                    <!--
                    <button mat-button class="tag tagSelect">
                        <mat-icon>notifications_off</mat-icon>
                        <span class="nameTag">Pantallas</span>
                    </button>
                    <button mat-button class="tag">
                        <mat-icon>dialpad</mat-icon>
                        <span class="nameTag">Todos</span>
                    </button>
                    <button mat-button class="tag">
                        <mat-icon>notifications_off</mat-icon>
                        <span class="nameTag">Pantallas</span>
                    </button>
                    <button mat-button class="tag">
                        <mat-icon>dialpad</mat-icon>
                        <span class="nameTag">Todos</span>
                    </button>
                    <button mat-button class="tag">
                        <mat-icon>notifications_off</mat-icon>
                        <span class="nameTag">Pantallas</span>
                    </button>
                -->
                </div>
            </mat-menu>
        </div>
        <div class="search">
            <mat-icon>search</mat-icon>
            <input type="search" id="name" name="name" placeholder="Buscar">
            <!--<button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>-->
        </div>
        
        <div class="profile">                
            <span style="font-size: 14px;">{{identity.payload.data.nombres}} {{identity.payload.data.apellidos}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menuUser">                    
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menuUser="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>toggle_off</mat-icon>
                    <span>SALIR</span>
                </button>                
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>