<mat-toolbar color="primary">
    <mat-toolbar-row class="headerLeft">
        <button mat-icon-button [matMenuTriggerFor]="menuGeneral">
            <mat-icon>dashboard</mat-icon>
        </button>        
        <mat-menu #menuGeneral="matMenu">
            <button mat-menu-item (click)="miMenu('VENTA')">
                <mat-icon>add_shopping_cart</mat-icon>
                <span>VENTA</span>
            </button>
            <button mat-menu-item (click)="miMenu('TRANSF')">
                <mat-icon>compare_arrows</mat-icon>
                <span>TRANSFERENCIA</span>
            </button>
            
            <button mat-menu-item (click)="miMenu('DEVOL')">
                <mat-icon>undo</mat-icon>
                <span>DEVOLUCIÓN</span>
            </button>

            <button mat-menu-item (click)="testPrint()">
                <mat-icon>print</mat-icon>
                <span>Testear Impresora</span>
            </button>
            
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>SALIR</span>
            </button>
        </mat-menu>    
       
        <h1 class="titlePage">{{ menuDesTipcodope }}<span class="subtitlePage">{{datadef.dessucursal}}</span></h1>        
        <!--
        <mat-form-field>
            <mat-select [(value)]="selected">
                <mat-option value="{{item.$key}}" *ngFor="let item of tiendaList; let i = index">{{item.destab}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        -->
    </mat-toolbar-row>

    <mat-toolbar-row class="headerRight">
        <div class="tags" style="display:none;">
            <button mat-icon-button [matMenuTriggerFor]="menuCategoria">
                <mat-icon>filter_list</mat-icon>
            </button>
            <span>Todos</span>
            <mat-menu #menuCategoria="matMenu">
                <div class="wrapTags">
                    <button mat-button class="tag" *ngFor="let item of categoriaList; let i = index">
                        <mat-icon>dialpad</mat-icon>
                        <span class="nameTag">{{item.destab}}</span>
                    </button>
                </div>
            </mat-menu>
        </div>
        <div class="search">
            <mat-icon>search</mat-icon>
            <input type="search" id="txtBusqueda" name="txtBusqueda" placeholder="Buscar por nombre o código" onfocus="this.select()" (keyup.enter)="onSearchChange($event.target.value)">
            <!--<button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>-->
        </div>

        <div class="profile">
            <span style="font-size: 14px;">{{identity.payload.data.nombres}}
                {{identity.payload.data.apellidos}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menuUser">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menuUser="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>SALIR</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>