<h2 mat-dialog-title>NOMBRE DEL PRODUCTO<button mat-icon-button>
    <mat-icon>close</mat-icon>
</button></h2>
<mat-dialog-content>
  <div class="example-container">
    <div class="infoProductDialog">
      <img mat-card-image src="https://falabella.scene7.com/is/image/FalabellaPE/15767763_1?$producto308$&amp;wid=472&amp;hei=472" alt="Photo of a Shiba Inu">              
      <ul class="ulPriceDialog">
              <li class="liPriceDialog">
                <span>Cantidad</span> <span class="priceProductDialog">000,000</span>
              </li>
              <li class="liPriceDialog">
                  <span>P. General</span> <span class="priceProductDialog">S/ 0,000.00</span>
                </li> 
              <li class="liPriceDialog">
                  <span>P. Unidad</span> <span class="priceProductDialog">S/ 0,000.00</span>
              </li>  
              <li class="liPriceDialog">
                  <span>P. Mayor</span> <span class="priceProductDialog">S/ 0,000.00</span>
              </li>  
      </ul>
    </div>
  </div>
</mat-dialog-content>
<!-- mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  The mat-dialog-close directive optionally accepts a value as a result for the dialog. 
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Aceptar</button>
</mat-dialog-actions>-->