<h2 mat-dialog-title>VENTA</h2>

<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <mat-select placeholder="Tienda">
        <mat-option *ngFor="let tienda of tiendaList" [value]="tienda.$key">
          {{tienda.destab}}
        </mat-option>
      </mat-select>      
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Aceptar</button>
</mat-dialog-actions>