.shop{
    width: 320px;
	position: fixed;
	height:  calc(100% - 50px);
	left: 0;
	top: 50px;
	background-color: #fff;
}
.divWrap{
    height: 100%;
    width: 100%;
    position: relative;
}
.topShop{
    border-bottom: 1px solid #ddd;
    padding: 5px 8px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
.topShop .searchAdd{
	height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}
.topShop .searchAdd .mat-icon{
	position: absolute;
	left: 8px;
    top: 8px;
    color: #1e88e5;
}
.topShop .searchAdd input{
	line-height: 40px;
    font-size: 15px;
    padding: 0 40px 0 40px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #f2f2f2;
}
.topShop .searchAdd input::placeholder {
	color: #777;
}
.topShop .searchAdd input:focus{
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	background-color: #fff;
}
.topShop .searchAdd input:focus::placeholder {
	color: rgba(0,0,0,.6);
}
.topShop .searchAdd .mat-icon-button{
	position: absolute;
	right: 0px;
}
.topShop .searchAdd .mat-icon-button .mat-icon{
	position: inherit;
	left: 0;
    top: 0;
    color: #999;
}
.topShop .searchAdd .mat-icon-button::before, .shop .searchAdd .mat-icon-button::after{
	background-color: #999;
}
.topShop .mat-icon-button{
    float: left;
    clear: right;
    color: #1e88e5;
}
.topShop .title{
    float: left;
    clear: right;
    font-size: 15px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    color: #1e88e5;
}
.middleShop{
    height: calc(100% - 110px);
    overflow-x: hidden;
    top: 51px;
    position: absolute;
    width: 100%;
}
#divProductos .middleShop{
    height: calc(100% - 162px) !important;
}
.middleShop .listEmpty{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 36px 24px;
    box-sizing: border-box;
}
.middleShop .listEmpty img{
    width: 180px;
}
.middleShop .listEmpty p{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    color: #999;
}
.middleShop .listItem{

}
.middleShop .listItem .addedItem{
    padding: 0;
    line-height: 16px;
    font-weight: normal;
    text-align: left;
    width: 100%;
    border-radius: 0;
}
.middleShop .listItem .addedItem .photoItem{
    margin: -18px 0 0 0;
    padding: 0;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 8px;
    background-color: #f2f2f2;
    border-radius: 18px;
    text-align: center;
}
.middleShop .listItem .addedItem .photoItem .badge{
    height: 12px;
    border-radius: 6px;
    background-color: #1e88e5;
    color: #fff;
    position: absolute;
    padding: 0 3px;
    min-width: 12px;
    box-sizing: border-box;
    line-height: 12px;
    font-size: 10px;
    text-align: center;
    right: 0;
    bottom: 0;
    font-weight: 500;
}
.middleShop .listItem .addedItem .photoItem img{ 
    max-width: 36px;
    max-height: 36px;
    border-radius: 18px;
}
.middleShop .listItem .addedItem .photoItem .mat-icon{ 
    padding: 0;
	margin: 8px;
}
.middleShop .listItem .addedItem .infoItem{
    width: calc(100% - 92px);
    margin: 0 0 0 52px;
    border-bottom: 1px solid #ddd;
    padding: 10px 40px 10px 0;
    display: inline-block;
}
.middleShop .listItem .addedItem .infoItem .textItem{
    margin: 0;
    padding: 2px 0 0 0;
    width: calc(100% - 60px);
    float: left;
    clear: right;
}
.middleShop .listItem .addedItem .infoItem .textItem h4{
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.middleShop .listItem .addedItem .infoItem .textItem h6{
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    color: #777;
    line-height: 12px;
}
.middleShop .listItem .addedItem .infoItem .priceItem{
	width: 60px;
    text-align: right;
    height: 26px;
    position: absolute;
    right: 40px;
    top: 50%;
    margin: -13px 0 0 0;
}
.middleShop .listItem .addedItem .infoItem .priceItem h4{
	padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
}
.middleShop .listItem .addedItem .infoItem .priceItem h6{
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    color: #f44336;
    line-height: 12px;
    text-decoration: line-through;
}
.middleShop .listItem .addedItem .deleteItem{
    margin: -20px 0 0 0;
    color: #607d8b;
    position: absolute;
    right: 0;
    top: 50%;
}
.middleShop .listItem .addedItem .mat-icon-button::before, .shop .listItems .item .mat-icon-button::after{
    background-color: #607d8b;
}
.middleShop .customer {
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 12px 40px 12px 8px;
    box-sizing: border-box;
    position: relative;
    line-height: inherit;
    margin: 0 0 5px 0;
}
.middleShop .customer h2{
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.middleShop .customer h2 span{
    font-weight: 800;
    color: #1e88e5;
}
.middleShop .customer h6{
    font-weight: 500;
    opacity: .7;
    font-size: 11px;
    line-height: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}
.middleShop .customer .mat-icon-button{
    position: absolute;
    top: 50%;
    right: 0;
    margin: -20px 0 0 0;
    color: #607d8b;
}
.middleShop .customer .mat-icon-button::before, .middleShop .customer .mat-icon-button::after{
    background-color: #607d8b;
}
.middleShop .payDetail{
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px;
    padding: 0 12px;
    font-size: 15px;
}
.middleShop .payDetail .rowRB{
    padding: 0;
    margin: -8px 0 -12px 0;
    display: inline-block;
    width: 100%;
}
.middleShop .payDetail .rowRB .spanLabel{
    width: 50%;
    float: left;
    clear: right;
    padding: 20px 0 0 0;
    font-size: 14px;
}
.middleShop .payDetail .rowRB .wrapInput{
    width: 50%;
    float: left;
    clear: right;
}
.middleShop .payDetail .rowRB .wrapInput .mat-form-field{
    width: 100%;
}
.wIcon{
    position: relative;
}
.wIcon .mat-form-field{
    width: calc(100% - 32px) !important;
}
.wIcon input, .wIcon input::placeholder{
    text-align: right !important;
}
.wIcon .mat-icon-button{
    position: absolute;
    right: -8px;
    top: 9px;
    color: #607d8b;
    opacity: .8;
}
.x100 .wrapInput{
    width: 100%;
    position: relative;
}
.x100 .wrapInput .mat-form-field{
    width: calc(100% - 32px) !important;
    margin: 0 0 0 32px;
}
.x100 .wrapInput .mat-icon{
    position: absolute;
    left: 0;
    top: 17px;
    color: #1e88e5;   
}
.middleShop .payDetail .rowRB2 .mat-button-toggle-group{
    width: 100%;
    /*border: none;*/
    background-color: #f4f6f7;
    margin: 5px 0;
}
.middleShop .payDetail .rowRB2 .mat-button-toggle-group .mat-button-toggle{
    width: 100%;
}
.middleShop .payDetail .rowRB2 .mat-button-toggle-group-appearance-standard .mat-button-toggle{
    /*background-color: transparent;
    border: none;*/
}
.bottomShop{
    position: absolute;
    bottom: 0;
    padding: 6px 8px;
    width: 100%;
    box-sizing: border-box;
}
.bottomShop .rowRB{
    padding: 0;
    margin: -8px 0 -12px 0;
    display: inline-block;
    width: 100%;
}
.bottomShop .rowRB .spanLabel{
    width: 50%;
    float: left;
    clear: right;
    padding: 20px 0 0 0;
    font-size: 14px;
}
.bottomShop .rowRB .wrapInput{
    width: 50%;
    float: left;
    clear: right;
}
.bottomShop .rowRB .wrapInput .mat-form-field{
    width: 100%;
}
.bottomShop .mat-raised-button{
    height: 48px;
    width: 100%;
    background-color: #1e88e5;
}
.bottomShop .mat-raised-button .infoBtnBottom{
    font-size: 16px;
    font-weight: 800;
    padding: 0 20px;
    line-height: 16px;
}
.bottomShop .mat-raised-button .infoBtnBottom span{
    font-size: 12px;
    display: block;
    font-weight: 400;
    line-height: 12px;
}


/*angel inicio*/
.bottomShop .mat-raised-button .infoBtnBottom2{
    font-size: 13px;
    font-weight: 800;
    padding: 0 13px;
    line-height: 13px;
}
.bottomShop .mat-raised-button .infoBtnBottom2 span{
    font-size: 16px;
    display: block;
    font-weight: 800;
    line-height: 16px;
    color: #FFFF00;
}

/*angel fin*/







.bottomShop .mat-raised-button .mat-icon-button{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -20px 0 0 0;
}
/*.shop .customer{
    height: 60px;
    padding: 0 16px 0 55px;
    position: relative;
}
.shop .customer .mat-icon{
    position: absolute;
    top: 50%;
    color: #1e88e5;
    left: 16px;
    margin: -4px 0 0 0;
}
.shop .customer .mat-form-field{
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 15px;
}*/


.scrollPagos{
    margin: 0;
	position: relative;
    /*height: calc(100% - 185px);*/
    height: calc(100% - 125px);
	overflow-x: hidden;
}
.shop .total{
    height: auto;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 6px;
	background-color: #fff;
    border-top: 2px solid #fff;
    box-sizing: border-box;
}
.shop .total .mat-raised-button{
    width: 100%;
    height: 40px;
    background-color: #1e88e5;
}
.shop .total .mat-raised-button::before, .shop .total .mat-raised-button::after{
    background-color: #1e88e5;
}

.title2 {
    padding: 5px 0 0 0;
    color: #3f51b5;
    font-weight: 600;
    line-height: 40px;
    font-size: 16px;
}
.title2 .mat-icon-button {
    color: #3f51b5;
    margin: 0 4px 0 4px
}


.block2 {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 15px 10px;
    position: relative;
    margin: 0;
    border-top: 1px solid #ddd;
}


.block2 .titleBlock2 {
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
    color: #888;
}

.block2 .cntntBlock2 {
    width: 100%;
    display: inline-block;
    margin: 5px 0 0 0;
}

.block2 .cntntBlock2 .mat-button-toggle-group{
    width: 100%;
}
.block2 .cntntBlock2 .mat-button-toggle-group .mat-button-toggle{
    width: 100%;
}
.block2 .cntntBlock2 .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 40px !important;
}

.block2 .mat-button{
    background-color: rgba(63,81,181,.05);
    line-height: 34px;
    padding: 0 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #3f51b5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #fff;
    background-color: #607d8b;
}

.pagoDetalle{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
.pagoDetalle li{
    list-style: none;
    line-height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 14px;
}
.pagoDetalle li .moneda{
    position: absolute;
    right: 90px;
}
.pagoDetalle li .valor{
    text-align: right;
    float: right;
}
.liVuelto{
    color: red;
    font-size: 18px !important;
    line-height: 24px !important;
}
.liCant{
    font-weight: 600;
    color: #607d8b;
}
.liTotal{
    font-weight: 600;
    font-size: 18px !important;
    line-height: 24px !important;
    color: #3f51b5;
}

.inptBlock {
    margin: 15px 0 0 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 50px 0 0;
}
.inptBlock .mat-form-field {
    width: 100%;
}

.inptBlock button.mat-icon-button {
    color: #607d8b;
    position: absolute;
    top: 13px;
    right: 5px;
}



