.ttlDialog{
  position: relative
}
.ttlDialog h2{
  
}
.ttlDialog .mat-icon-button{
  position: absolute;
  top: -4px;
  right: 0;
}
.dialogSearch{
  width: 100%;
  position: relative;
}
.dialogSearch .mat-icon{
  float: left;
  clear: right;
  margin: 16px 0 0 0;
  color: #1e88e5;
}
.dialogSearch .mat-form-field{
  width: calc(100% - 32px);
  float: right;
  clear: right;
}
.dialogResult{
  width: 100%;
  display: inline-block;
    padding: 5px 5px 10px 5px;
    box-sizing: border-box;
}
.dialogResult .mat-table{
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
	padding: 5px;
	margin: 0px;
}